.active-pink-btn{
    background: #f48fb1;
}

.footer-text{
    color: #8bd8bd;
}

.hr-footer-link-color{
    background: #8bd8bd;
    width: 50%;
}

.btn-text{
    color: #243665;
    cursor: pointer;
}
i{
    display: -webkit-inline-flex;
}
a:hover{
    transform: translate(-2px);
}
.btn-footer-link{
    text-align: center;
}